.educationProgram-table-container {
    margin-left: 15px;
    margin-right: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        margin-right: 100px;
        background-color: #BCE8F1;
        .note-title {
                color: #008cffc7;
            }
        .note-content {
            color: #0000FF;
        }
        .pass-sign {
            color: rgb(28, 238, 28);
        }
        .fail-sign {
            color: red;
        }
    }
    .dashed {
        border-top: 1px solid #bbb;
        border-radius: 1px;
    }
    .table-container {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        word-wrap: break-word;
        border-collapse: collapse;
        th, td {
            border: 1px solid;
        }
        .table-header {
            color: #0000FF;
            background-color: #C7D6F3;
            height: 39px;
            align-content: center;
            font-weight: bold;
            border: 1px solid;
            border-color: black;
        }
        .table-title {
            color: black;
            font-weight: bold;
        }
        .table-footer {
            background-color: #FFE5BA;
            border: 1px solid;
        }
    }
}