.review-page {
    width: 100%;
    margin: 15px 35px 70px 15px;
    height: auto;
    min-height: 500px;
    .review {
        height: auto;
        margin: 5px 0 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 5px 5px 5px 10px;
        width: 90%;
        border-radius: 10px;
        .review-header {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .review-content {
            margin: 0 0 5px 0;
        }
    }
}