.form-cointainer{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: normal;
    .input-area{
        height: 40px;
        width: 30vw;
    }
    
    .submit-button{
        background-color: #0388B4;
        height: 40px;
        width: 30vw;
        color: #FFFFFF;
        font-weight: Bold;
    }
}
