.main_page{
    height: 100vh;
    width: 100vw;
}

.page_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #form_container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        .input_box{
            width: 25vw;
            height: 68px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
        }
        .options{
            width: 25vw;
            .ant-col{
                .ant-form-item
                    .ant-row .ant-col{
                            margin-inline-start: 0;
                    }
            }
                button{
                    float: right;
                    border: none;

                }
        }
        .login_button{
            width: 25vw;
            height:50px;
            background: #0388B4;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color:#ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}