* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
body,
input,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
}
html, body {
  height: 100%;
}
